#regio{
    height: 100px;
    width: 100%;
}

#products{
    height: 250px;
}

#selected-products{
    height: 250px;
}

#weather{
    height: 100px;
}

#stockroom{

}

.grid-container {
    height: 100px;
    width: 100px;
}

#grid {
	margin: 0px;
	max-width: 100%;
}

.grid-item {
	margin:0;
	padding:0;
	border: 1px solid black;
	outline:1px solid #000;
	display:inline-block;
}