body {
    background-color: #F8F9FA;
}

#menubar{
    height: 100%;
}

#grid-holder {
    height: 100%;
}

#regio{
    width: 100%;
}

#products{
	height: 250px;
    overflow: scroll;
}

.popup {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 10;
	background-color: rgba(102, 153, 153, 0.5);
}

#image-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    background-color: rgba(102, 153, 153, 0.5);
}

.formcontainer{
	position: fixed;
	top:10%;
	left:40%;
	padding:4%;
	background-color: white;
}

#stockroom{

}

.grid-container {
    height: 100px;
    width: 100px;
}

#grid {
	position: static;
    top: 30px;
    font-size: 0;
    margin:auto;
    height:960px;
    width:960px;
    padding: 0;
    border: none;
    max-width: 100%;
}

.grid-item {
	margin:0;
	padding:0;
	/*border: 1px solid black;*/
	/*outline:1px solid #000;*/
	display:inline-block;
}

.dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
  }


#no-img{
    display: flow-root;
}

#getPicture{
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
    position: absolute;
    z-index: -1;
    
}

#product-img-div{
    position: fixed;
    z-index: 10;
    display: none;
    flex-direction: column;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(102, 153, 153, 0.5);
}

#loaded-img-div{
    display: none;
}

  